<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <logger name="telegram4j.mtproto.crypto" level="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-20.20thread %5p %-36.36logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
