@Value.Style(
        depluralize = true,
        jdkOnly = true,
        allParameters = true,
        defaultAsDefault = true
)
@NonNullApi
package ${package-name};

import org.immutables.value.Value;
import reactor.util.annotation.NonNullApi;
